*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
Pods/
DerivedData/
gitignore
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.dtyped_data
xcuserdata/
!default.xcworkspace
!contents.xcworkspacedata
